<div class="container">
    <div class="crt-container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-title">Creación de Ropa!!!</h6>
                <form class="center" [formGroup]="crearForm">
                    <select formControlName="tipo" class="form-select" aria-label="Default select example">
                    <option value="buzo">buzo</option>
                    <option value="remera">remera</option>
                    <option value="remera">campera</option>
                    <option value="pantalon">pantalon</option>
                  </select>
                    <div class="form-field">
                        <label class="form-label">Cantidad</label>
                        <input type="text" class="form-control" placeholder="Cantidad" formControlName="cantidad" />
                    </div>
                    <div class="form-field">
                        <label class="form-label">Precio</label>
                        <input type="text" class="form-control" placeholder="Precio" formControlName="precio" />
                    </div>
                    <div class="form-field">
                        <label class="form-label">Descripción</label>
                        <input type="text" placeholder="Descripción" class="form-control" formControlName="descripcion" />
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!crearForm.valid" (click)="crearRopa()">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>
