<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/#">{{ appTitulo }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/usuario/listar">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/ropa/listar">Ropa</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" (click)="logout()">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</nav>
