<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="card" style="width: 18rem">
                        <div class="card-body">
                            <h6 class="card-title">Editar Usuario!!!</h6>
                            <form class="center" [formGroup]="editarForm">
                                <div class="form-field">
                                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" />
                                </div>
                                <div class="form-field">
                                    <label for="exampleInputEmail1" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido" />
                                </div>
                                <select formControlName="rol" class="form-select" aria-label="Default select example">
                                <option value="USER">USER</option>
                              </select>
                                <div class="form-field">
                                    <label for="exampleInputEmail1" class="form-label">Email</label>
                                    <input type="email" class="form-control" placeholder="name@example.com" formControlName="email" />
                                </div>
                                <div class="form-field">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" placeholder="Ingrese su Password" class="form-control" formControlName="password" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
                <button type="button" class="btn btn-primary" (click)="editarUsuario(usuario._id)" data-bs-dismiss="modal">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
