<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h6 class="card-title">Bienvenido a MyCheninApp!!!</h6>
            <form class="center" [formGroup]="authForm">
                <div class="form-field">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.com" formControlName="mail" />
                </div>
                <div class="form-field">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" placeholder="Ingrese su Password" class="form-control" id="exampleInputPassword1" formControlName="password" />
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid" (click)="login()">Ingresar</button>
            </form>
        </div>
    </div>
</div>
