<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Ropa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="card" style="width: 18rem">
                        <div class="card-body">
                            <h6 class="card-title">Editar Ropa!!!</h6>
                            <form class="center" [formGroup]="editarForm">
                                <select formControlName="tipo" class="form-select" aria-label="Default select example">
                   <option value="buzo">buzo</option>
                  <option value="remera">remera</option>
                  <option value="remera">campera</option>
                  <option value="pantalon">pantalon</option>
                </select>
                                <div class="form-field">
                                    <label class="form-label">Cantidad</label>
                                    <input type="text" class="form-control" placeholder="Cantidad" formControlName="cantidad" />
                                </div>
                                <div class="form-field">
                                    <label class="form-label">Precio</label>
                                    <input type="text" class="form-control" placeholder="Precio" formControlName="precio" />
                                </div>
                                <div class="form-field">
                                    <label class="form-label">Descripción</label>
                                    <input type="text" placeholder="Descripción" class="form-control" formControlName="descripcion" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
                <button type="button" class="btn btn-primary" (click)="editarRopa(ropa._id)" data-bs-dismiss="modal">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
