<div class="btn-container">
    <h3>Aquí podrás ver el Listado de Ropas </h3>
    <button type="button" class="btn btn-success" (click)="crearClick()">
    Agregar Ropa
  </button>
</div>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tipo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripción</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ropa of ropa">
                <th scope="row">{{ ropa._id }}</th>
                <td>{{ ropa.tipo }}</td>
                <td>{{ ropa.cantidad }}</td>
                <td>{{ ropa.precio }}</td>
                <td>{{ ropa.descripcion }}</td>
                <td>     
                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editar(ropa)">
            Editar
          </button>
                    <button type="button" class="btn btn-outline-info" (click)="borrar(ropa)">
            Borrar
          </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-editar [ropa]="ropaSelected"></app-editar>
