<div class="container">
    <div class="crt-container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-title">Creación de Usuario!!!</h6>
                <form class="center" [formGroup]="crearForm">
                    <div class="form-field">
                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" />
                    </div>
                    <div class="form-field">
                        <label for="exampleInputEmail1" class="form-label">Apellido</label>
                        <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido" />
                    </div>
                    <select formControlName="rol" class="form-select" aria-label="Default select example">
                    <option value="USER">USER</option>
                  </select>
                    <div class="form-field">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="name@example.com" formControlName="email" />
                    </div>
                    <div class="form-field">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" placeholder="Ingrese su Password" class="form-control" formControlName="password" />
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!crearForm.valid" (click)="crearUsuario()">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>
