<div class="btn-container">
    <h3>Aquí podrás ver el Listado de Usuarios </h3>
    <button type="button" class="btn btn-success" (click)="crearClick()">Crear Usuario</button>
</div>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Rol</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <th scope="row">{{usuario._id }}</th>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.rol}}</td>
                <td><button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editar(usuario)">Editar</button>
                    <button type="button" class="btn btn-outline-info" (click)="borrar(usuario)">Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-editar [usuario]="usuarioSelected"></app-editar>
